clone_depth: 1

environment:
  matrix:
    - nodejs_version: 8
    - nodejs_version: 7
    - nodejs_version: 6
    
install:
  - choco install googlechrome
  - ps: Update-NodeJsInstallation (Get-NodeJsLatestBuild $env:nodejs_version)
  - node --version
  - npm --version
  - npm install

test_script:
  - npm test

build: off

cache:
  - node_modules
