clone_depth: 1

environment:
  matrix:
    - nodejs_version: 6
    - nodejs_version: 7
    - nodejs_version: 8
      npm_version: 5
    
install:
  - choco install googlechrome
  - ps: Install-Product node $env:nodejs_version
  - IF DEFINED npm_version (npm i -g npm@%npm_version%)
  - node --version
  - npm --version
  - npm install

test_script:
  - npm test

build: off

cache:
  - node_modules
