os:
  - linux
  - osx
dist: trusty
sudo: false

git:
  depth: 1

addons:
  apt:
    packages:
      - google-chrome-stable
before_install:
#  - npm install -g greenkeeper-lockfile@1
  - |
    if [ "$TRAVIS_OS_NAME" = "osx" ]; then
      brew tap caskroom/versions > /dev/null
      brew cask install google-chrome
    fi

before_script:
#  - greenkeeper-lockfile-update

after_script:
#  - greenkeeper-lockfile-upload

after_success:
  - codecov -f coverage/coverage-remapped.json

language: node_js
node_js:
  - 9
  - 8
  - 7
  - 6

cache:
  directories:
    - node_modules
