# don't build tags, it's redundant
if: tag IS blank

os:
  - linux
  - osx
dist: trusty
sudo: required

git:
  depth: 5

addons:
  chrome: stable
before_install:
#  - npm install -g greenkeeper-lockfile@1

before_script:
#  - greenkeeper-lockfile-update

after_script:
#  - greenkeeper-lockfile-upload

after_success:
  - codecov -f coverage/coverage-remapped.json

language: node_js
node_js:
  - 13
  - 12
  - 10

cache:
  directories:
    - node_modules
