os:
  - linux
  - osx
dist: trusty
sudo: false

git:
  depth: 1

addons:
  apt:
    packages:
      - google-chrome-stable
before_install:
  - |
    if [ "$TRAVIS_OS_NAME" = "osx" ]; then
      brew tap caskroom/versions > /dev/null
      brew cask install google-chrome
    fi

language: node_js
node_js:
  - 6
  - 7
  - 8